# Send desktop Tieba thread URLs through the local cleaner.
url "https://tieba.baidu.com/p/"
substitute_url "file:/cgi-bin/tieba_filter.py?"

url "https://www.tieba.baidu.com/p/"
substitute_url "file:/cgi-bin/tieba_filter.py?"

# Keep pagination inside the cleaner after entering a mobile thread page.
url "https://tieba.baidu.com/mo/q---1-3-0--2/m?kz="
substitute_url "file:/cgi-bin/tieba_filter.py?"

# Send the mobile forum list through the cleaner. This makes relative thread
# links reliable and replaces JavaScript pagination with ordinary links.
url m!^https?://tieba\.baidu\.com/mo/q---1-3-0--2/m\?kw=!
substitute_url "file:/cgi-bin/tieba_filter.py?kw="

url m!^https?://tieba\.baidu\.com/mo/q/m\?kw=!
substitute_url "file:/cgi-bin/tieba_filter.py?kw="
